@page
@model E_Commerce_Razor_Page_Project.Pages.Checkout.ThankYouModel

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Thank You for Your Order!</h1>
        <p class="lead mt-4">Your order has been received and is being processed.</p>
        <p>We'll email you to confirm shortly.</p>
        
        <div class="mt-5">
            <a href="/Products" class="btn btn-primary">Continue Shopping</a>
        </div>
    </div>
</div>